@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css");

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #e53935;
  --primary-hover: #d32f2f;
  --primary-focus: rgba(229, 57, 53, 0.125);
  --primary-inverse: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #e53935;
    --primary-hover: #f44336;
    --primary-focus: rgba(229, 57, 53, 0.25);
    --primary-inverse: #fff;
  }
}

[data-theme="dark"] {
  --primary: #e53935;
  --primary-hover: #f44336;
  --primary-focus: rgba(229, 57, 53, 0.25);
  --primary-inverse: #fff;
}

:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.filters {
  display: flex;
  justify-content: space-between;
}

.filters a {
  border-radius: 0 0 12px;
}

button {
  border-radius: 0 0 12px;
}

article {
  border-radius: 10px;
}

article img {
  float: left;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}

.notification .badge {
  position: absolute;
  top: -2px;
  right: -10px;
  color: white;
}

.off-canvas article {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.food-card {
  display: flex;
  min-height: 200px;
  gap: 20px;
}

.food-card-image {
  width: 50%;
}

.food-card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.food-card-content button {
  margin: 0;
  margin-top: auto;
}

textarea {
  resize: none;
}

.disableDiv {
  pointer-events: none;
  opacity: 0.4;
}
